/* Shared Styles for all pages */

/* Background Image for all pages */
.background-image {
    background-image: url('../images/bg_index.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Common container for all pages */
.page-body.container {
    width: 85%;
    margin: 30px auto;
    background-color: rgba(255, 255, 255, 0.9);
    color: #2a2a2a;
    padding: 30px 20px;
    font-size: 18px;
    text-align: left;
    border-radius: 10px;
}

/* Common heading styles */
h2 {
    text-shadow: #333;
    color: #2769c9 !important;
}

h3 {
    color: #6e6e6e !important;
}

p {
    color: #6e6e6e;
}

body {
    text-align: left;
}

body.home-page {
    text-align: center; /* Center text on home page */
}

/* Home page specific styles */
.home {
    min-height: auto; /* Minimum height is 100% of the viewport, but can shrink if content is less */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 30px 0; /* Add padding to avoid content sticking to the top/bottom */
}

.home .container {
    text-align: center;
    padding: 30px 20px;
    width: 85%;
    margin: 0 auto; /* Center the container */
}

body.home-page {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: auto; /* Body should adjust based on content height */
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#div_content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center the content if it's shorter */
}

/* Navbar */
.navbar {
    background-color: #333;
    padding: 20px;
    position: relative;
}

.nav-left {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.nav-left li {
    margin: 0 15px;
}

.nav-left a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background 0.3s;
}

.nav-left a:hover {
    background-color: #555;
}

/* Dropdown */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li {
    margin: 0;
}

.dropdown-content a {
    display: block;
    padding: 10px;
}

.dropdown-content a:hover {
    background-color: #555;
}

/* Main Content */
.main {
    text-align: -webkit-center;
    font-size: 2rem;
}

/* Mouse-Over Color change */
.color-change:hover {
    transition: 0.8s ease;
    color: #2769c9;
}

/* Footer */
footer {
    background-color: #333;
    /*padding: 10px;*/
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
}

footer a {
    color: white;
    text-decoration: none;
}

#LinkImpressum:hover {
    color: #65a503 !important;
}

/* Responsives Design */
@media screen and (max-width: 768px) {
    .nav-links {
        flex-direction: column;
    }

    .nav-left li {
        margin: 5px 0;
    }
}

.image-container {
    text-align: center;
    height: auto;
}

.image-container img {
    width: 100%;
    height: auto;
    max-height: 300px;
    max-width: 100px;
}

.gallery {
    margin: 20px auto; /* Center the gallery */
}

.highlight-text {
    font-size: 20px;
    color: #2769c9;
}

.btn {
    font-size: 18px !important;
}
