/* Shared Styles for all pages */

/* Background Image for all pages */
.background-image {
    background-image: url('../images/bg_index.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Common container for all pages */
.page-body.container {
    width: 75%;
    margin: 30px auto;
    background-color: rgba(255, 255, 255, 0.9);
    color: #2a2a2a;
    padding: 5px 20px;
    font-size: 18px;
    text-align: left;
    border-radius: 10px;
}

/* Common heading styles */
h2 {
    text-shadow: #333;
    color: #2769c9 !important;
}

h3 {
    color: #6e6e6e !important;
}

p {
    color: #6e6e6e;
}

body {
    text-align: left;
}

body.home-page {
    text-align: center; /* Center text on home page */
}

/* Home page specific styles */
.home {
    min-height: auto; /* Minimum height is 100% of the viewport, but can shrink if content is less */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 20px 0; /* Add padding to avoid content sticking to the top/bottom */
}

.home .container {
    text-align: center;
    padding: 30px 20px;
    width: 75%;
    margin: 0 auto; /* Center the container */
}

body.home-page {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: auto; /* Body should adjust based on content height */
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.home.home-body.container, .page-body.container {
    max-width: 850px;
    margin: 0 auto;  /* Center the container horizontally */
    padding: 20px;  /* Optional padding inside the container */
}

/* Optional: Media query to handle smaller screens */
@media (max-width: 768px) {
    .home-body .container {
        width: 100%;  /* On small screens, make it full width */
        padding: 10px;  /* Adjust padding if needed */
    }
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
}

#div_content {
    /*min-width: 90%;*/
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center the content if it's shorter */
}

/*#div_content.no-center {*/
/*    justify-content: flex-start; !* Or another value to deactivate centering *!*/
/*}*/

/* Navbar */
.navbar {
    background-color: #333;
    padding: 20px;
    position: relative;
}

.nav-left {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.nav-left li {
    margin: 0 15px;
}

.nav-left a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background 0.3s;
}

.nav-left a:hover {
    background-color: #65a503;
    border-radius: 15px;
}

/* Dropdown */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li {
    margin: 0;
}

.dropdown-content a {
    display: block;
    padding: 10px;
}

.dropdown-content a:hover {
    background-color: #555;
}

/* Main Content */
.main {
    text-align: -webkit-center;
    font-size: 2rem;
}

/* Mouse-Over Color change */
.color-change:hover {
    transition: 0.8s ease;
    color: #2769c9;
}

/* Footer */
footer {
    background-color: #333;
    /*padding: 10px;*/
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
}

footer a {
    color: white;
    text-decoration: none;
}

#LinkImpressum:hover {
    background-color: #65a503;
    border-radius: 15px;
    padding: 5px 10px;
    transition: background 0.3s;
}

/* Responsives Design */
@media screen and (max-width: 768px) {
    .nav-links {
        flex-direction: column;
    }

    .nav-left li {
        margin: 5px 0;
    }
}

.image-container {
    text-align: center;
    height: auto;
}

.image-container img {
    width: 100%;
    height: auto;
    max-height: 300px;
    max-width: 100px;
}

.gallery {
    margin: 20px auto; /* Center the gallery */
}

.highlight-text {
    font-size: 20px;
    color: #2769c9;
}

.btn {
    font-size: 16px !important;
    transition: background-color 0.3s ease, border 0.3s ease;
}

#loginBtn, #registerBtn {
    width: 100%;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

#loginBtn:hover {
    background-color: #65a503;
    opacity: 0.9;
    border: 1px solid #65a503;
}

.student .btn-primary:hover {
    background-color: #65a503;
    border: 1px solid #65a503;
}

#contact {
    width: 100%;
}

#send-emailBtn {
    width: 100%;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.btn:hover {
    background-color: #65a503 !important;
    border: 1px solid #65a503;
}

#UsersButton {
    background-color: #19b5ef;
}

#EventsButton {
    background-color: #0e86dc;
}

#BookingsButton {
    background-color: #007bff; /* Bootstrap Primary Blue */;
}

#ProfileButton {
    background-color: #1c5bb0;
}

#UsersButton,
#EventsButton,
#BookingsButton,
#ProfileButton {
    height: 100px;
    width: 80%;
    border: none;
}

.admin #UsersButton,
#EventsButton,
#BookingsButton,
#ProfileButton {
    height: 120px;
    width: 260px;
    border: none;
    margin: 10px; /* Adjust spacing between buttons */
    display: inline-block;
    text-align: center;
}

/* Container styling for flexbox layout */
.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ensures proper spacing between buttons */
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .button-container {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centers buttons on small screens */
    }

    .btn {
        width: 80%; /* Allow buttons to adjust width on smaller screens */
        margin: 10px 0; /* Space between buttons vertically */
        transition: background-color 0.3s ease, opacity 0.3s ease;
    }
}


button {
    transition: background-color 0.3s ease, opacity 0.3s ease; /* Add transition */
}

button:hover {
    opacity: 0.9;
    border: none;
}

#div_content {
    margin-top: 20px;
    margin-bottom: 20px;
}
